<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Web Server</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 추가적인 CSS 파일들을 여기에 추가하세요 -->
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    <%- body %>
    <%- include('partials/footer') %>
    <%- include('partials/confetti') %>
</body>
</html>
